Opgave1 :

1. Vurder datasættet fra rainforrest, beslut om du vil fjerne kolonner eller impute værdier, eller en blanding. Lad os se, hvad der giver det bedste resultat.

2. Del sættet op i samples og labels, så du har et datasæt, som kun består af talværdier for de enkelte træsorter.

3. Udfør en clustering med KMeans

a. Hvor mange clusters skal vi inddele den i?

b. Hvordan finder vi et godt antal?

4. Sammenhold wood mod branch i et scatterplot

5. Udfør en cross tabulation

a. Hvor gode er dine resultater?

6. Brug en StandardScaler og en Pipeline til at få bedre resultater

a. Test igen med cross tabulation

7. Check for intrinsic dimensions

a. Lav en dimensionality reduction der svarer til bedste bud

b. Blev dine resultater bedre?

In [2]:
import pandas as pd

In [4]:
import numpy as np

In [17]:
data = pd.read_csv('rainforest.csv')

In [18]:
data = data.drop(['Unnamed: 0', 'bark'], axis=1)

In [19]:
data.head()

   dbh   wood   root  rootsk  branch          species
0    6    NaN    6.0     0.3     NaN  Acacia mabellae
1   23  353.0  135.0    13.0    35.0  Acacia mabellae
2   20  208.0    NaN     NaN    41.0  Acacia mabellae
3   23  445.0    NaN     NaN    50.0  Acacia mabellae
4   24  590.0    NaN     NaN     NaN  Acacia mabellae

In [12]:
from sklearn.impute import SimpleImputer

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 6 columns):
dbh        65 non-null int64
wood       64 non-null float64
root       13 non-null float64
rootsk     13 non-null float64
branch     43 non-null float64
species    65 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 3.2+ KB